<div class="thread-list-page">
  <div class="thread-list-layout" style="position:relative;">
    <app-sidebar (homeClick)="onHomeClick()" (questionsClick)="onQuestionsClick()"></app-sidebar>

    <app-tag-modal
      *ngIf="showTagModal"
      [tags]="allTags"
      (selectTag)="onTagSelected($event)"
      (close)="showTagModal = false">
    </app-tag-modal>

    <div class="thread-list-main">
      <div class="thread-list-container">
        <app-admin-thread-card
          *ngFor="let thread of threads"
          [thread]="thread"
          (delete)="onDeleteThread($event)">
        </app-admin-thread-card>
      </div>
    </div>
  </div>
</div>
