@import '../thread-card/thread-card.component.scss'; // Reuse thread card styles

.delete-btn {
  background-color: #e53935;
  color: #fff;
  border: 1px solid #b71c1c;
}

// Override any hover effect from imported styles
.delete-btn:hover {
  background-color: #e53935 !important;
  color: #fff !important;
  border: 1px solid #b71c1c !important;
}

