<div class="thread-list-page">
  <div class="thread-list-layout" style="position:relative;">
    <app-sidebar (homeClick)="onHomeClick()" (questionsClick)="onQuestionsClick()"></app-sidebar>
    <app-tag-modal
      *ngIf="showTagModal"
      [tags]="allTags"
      (selectTag)="onTagSelected($event)"
      (close)="showTagModal = false">
    </app-tag-modal>
    <div class="thread-list-main">
      <div class="thread-list-container" [class.blurred]="selectedThreadId !== null">
        <app-thread-card
          *ngFor="let thread of filteredThreads"
          [thread]="thread"
          [selectedThreadId]="selectedThreadId"
          (selectThread)="onSelectThread($event)">
        </app-thread-card>
      </div>
      <ng-container *ngIf="selectedThreadId !== null && selectedThread">
        <div class="thread-modal-overlay" (click)="selectedThreadId = null"></div>
        <div class="thread-modal">
          <app-thread-card
            [thread]="selectedThread"
            [selectedThreadId]="selectedThreadId"
            (selectThread)="onSelectThread($event)">
          </app-thread-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<button *ngIf="isRegistered" class="ask-question-btn" (click)="openThreadCreate()">Ask Question</button>
<div class="modal-overlay" *ngIf="showThreadCreateModal" (click)="closeThreadCreate()"></div>
<div class="modal" *ngIf="showThreadCreateModal">
  <app-thread-create
    [author]="loggedInUsername"
    (created)="onThreadCreated()">
  </app-thread-create>
</div>
<div class="modal-overlay" *ngIf="showUserRegisterModal" (click)="closeUserRegisterModal()"></div>
<div class="modal" *ngIf="showUserRegisterModal">
  <app-user-register (registered)="closeUserRegisterModal(); openThreadCreate()"></app-user-register>
</div>
