<div class="thread-detail-layout">
  <!-- Sidebar -->
  <app-sidebar (homeClick)="onHomeClick()" (questionsClick)="onQuestionsClick()"></app-sidebar>

  <app-tag-modal
    *ngIf="showTagModal"
    [tags]="allTags"
    (selectTag)="onTagSelected($event)"
    (close)="showTagModal = false">
  </app-tag-modal>

  <!-- Main Thread Detail Content -->
  <div class="thread-detail-main">
    <div *ngIf="loading">Loading thread details...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <div *ngIf="thread" class="thread-detail-3d">
      <h2 class="thread-detail-title">{{ thread.title }}</h2>
      <div class="thread-description-scroll">
        {{ thread.description }}
      </div>
      <div class="thread-author-detail">
        <strong>Author:</strong> {{ thread.author }}
      </div>
      <div class="replies-scroll">
        <div *ngIf="isArray(replies) && replies.length; else noReplies">
          <div *ngFor="let reply of replies" class="reply-card">
            <div class="reply-author">{{ reply.authorName }}</div>
            <div class="reply-content">{{ reply.content }}</div>
          </div>
        </div>
        <ng-template #noReplies>
          <div class="no-replies">No replies yet.</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>